#link {
    text-align: right;
}

#g, #g2 {
    color: blue;
}

#google {
    font-size: 30px;
    text-align: center;
}

#input {
    border-radius: 10px;
    width: 300px;
    background-color: lightgray;
}